# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/

# Virtual envs
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
